.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#homebtn {
  background-color: green;
  position: relative;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Toastify container styling */
.Toastify__toast-container {
  font-size: 1rem;
}

/* Navigation Bar Styles */
.navStyle {

  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  height: 25%;
  padding: 30px;

}

.nav-link {
  text-decoration: none;
}

/* Button styling */
.nav-button {

  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;

}

/* Icon styling */
.nav-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* Hover Effects */
.button-hover {
  position: relative;
}

.button-hover .button-text {
  display: none;
}

.button-hover:hover .button-text {
  display: inline;
}

/* Main Page Styling */
.main-container {
  padding-top: 60px;
  /* Adjust padding to ensure content is below the fixed nav */
}